https://www.kaggle.com/jpacse/datasets-for-churn-telecom?select=cell2celltrain.csv



kernels
https://www.kaggle.com/dziduchm/churn-analysis-md
https://www.kaggle.com/kerneler/starter-datasets-for-churn-telecom-bba20a85-8

In [158]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import statsmodels.api as sm
import numpy as np


original= pd.read_csv('cell2celltrain.csv')
region_map= pd.read_csv('AreaCode_state_region.csv')
region_map.drop('City', axis = 'columns', inplace= True)

#### Merging two Different Data Sets to Include States and Region

In [140]:
#Created a new area code column from the service area,and is ready for merge.
original['AreaCode']= original.ServiceArea.str.slice(start = -3)
reorder = ['CustomerID','AreaCode','MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'CreditRating', 'PrizmCode', 'Occupation',
       'MaritalStatus','Churn']

In [153]:
original = original[reorder]
#Change Type to str (not 'object') for the Merge
region_map['AreaCode'] =region_map['AreaCode'].astype('str')
region_map.drop_duplicates(inplace= True)
original['AreaCode'] =original['AreaCode'].astype('str')
df = pd.merge(original, region_map)
reorder2 = ['CustomerID','AreaCode', 'State', 'Region', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'CreditRating', 'PrizmCode', 'Occupation',
       'MaritalStatus', 'Churn' ]
# #Newly Made Data Frame Includes Geo Columns and Removed 'ServiceArea'
df = df[reorder2]

51023

In [157]:
df = df.dropna(axis = 0, how='any')
#parameter'All' instead of any is good for total blank rows.
df.head(2)

In [143]:

df['Churn1'] =df.Churn.replace({'Yes': 1, 'No': 0})
df.isnull().sum()
df['HandsetModels']=df['HandsetModels'].astype('object')
df.HandsetModels.value_counts()
df.head(2)
# df.Churn1.head(5)

,CustomerID,AreaCode,State,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,...,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus,Churn,Churn1
0,3000002,503,Oregon,Pacific,24.00,219.0,22.0,0.25,0.0,0.0,...,No,0,30,Yes,1-Highest,Suburban,Professional,No,Yes,1
1,3000982,503,Oregon,Pacific,53.69,144.0,50.0,0.00,0.0,0.0,...,No,0,130,No,1-Highest,Suburban,Other,Unknown,No,0

In [144]:
str_split = df.CreditRating.str.split('-') #give us a series of list
df['CreditRating_num'] = str_split.str.get(0) #creates new column in new data frame
df['CreditRating_split'] = str_split.str.get(1) #creates new column in new data frame.This cannot be the same as original heading.
#str_split = df['str_split'] #making a seperate dataframe is key. If you get repeatedly from 5 and 6 there will be nothing to get and error will relay.

#Alternative: In data Wrangling Notes

reorder2 = ['CustomerID','AreaCode', 'State', 'Region', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam','CreditRating_split', 'PrizmCode', 'Occupation',
       'MaritalStatus', 'Churn','Churn1' ]

df2 = df[reorder2]

df2.head(2)

,CustomerID,AreaCode,State,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,...,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating_split,PrizmCode,Occupation,MaritalStatus,Churn,Churn1
0,3000002,503,Oregon,Pacific,24.00,219.0,22.0,0.25,0.0,0.0,...,No,0,30,Yes,Highest,Suburban,Professional,No,Yes,1
1,3000982,503,Oregon,Pacific,53.69,144.0,50.0,0.00,0.0,0.0,...,No,0,130,No,Highest,Suburban,Other,Unknown,No,0

## Splitting and Making 2 columns: 
https://www.youtube.com/watch?v=HQ6XO9eT-fc @ 5:00 
Expand makes new column, and if there are more than one delimiter and you only want it to split at one then you do n = 1 parameter. Also, if you wanted the split to start reverse it is .rsplit.
tinyurl.com/ybqy4bfs

#All of this had to be done all at once when it was first attempted line by line. If it was done gradually columns get reassigned and will not be able to be found
#again unless all cells are reran prior. It cant be undone?

#### df2 is the revised data frame that includes all changes needed to conduct analysis.

In [145]:
# split credit rating column that appeared as 'high-5'

str_split = df.CreditRating.str.split('-') #give us a series of list
df['CreditRating_num'] = str_split.str.get(0) #creates new column in new data frame
df['CreditRating_split'] = str_split.str.get(1) #creates new column in new data frame.This cannot be the same as original heading.
#str_split = df['str_split'] #making a seperate dataframe is key. If you get repeatedly from 5 and 6 there will be nothing to get and error will relay.

#Alternative: In data Wrangling Notes

reorder2 = ['CustomerID','AreaCode', 'State', 'Region', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam','CreditRating_split', 'PrizmCode', 'Occupation',
       'MaritalStatus', 'Churn', 'Churn1' ]

df2 = df[reorder2]
df2.head(1)

,CustomerID,AreaCode,State,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,...,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating_split,PrizmCode,Occupation,MaritalStatus,Churn,Churn1
0,3000002,503,Oregon,Pacific,24.0,219.0,22.0,0.25,0.0,0.0,...,No,0,30,Yes,Highest,Suburban,Professional,No,Yes,1

In [146]:
#Age > Age Bins
df3 = df2.copy()
df3['AgeGroupHH1']=pd.cut(df2.AgeHH1, bins = [16,40,65,105],labels=['young','middle','senior'])

reorder3 =['CustomerID','State','Region', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs','Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'PrizmCode', 'Occupation',
       'MaritalStatus','CreditRating_split','AgeGroupHH1', 'Churn','Churn1']



df3=df3[reorder3]
df3.head()
df3.to_csv('processed_a.csv')
df3.head()

,CustomerID,State,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,...,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,PrizmCode,Occupation,MaritalStatus,CreditRating_split,AgeGroupHH1,Churn,Churn1
0,3000002,Oregon,Pacific,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,...,0,30,Yes,Suburban,Professional,No,Highest,middle,Yes,1
1,3000982,Oregon,Pacific,53.69,144.0,50.0,0.00,0.0,0.0,72.0,...,0,130,No,Suburban,Other,Unknown,Highest,young,No,0
2,3001426,Oregon,Pacific,74.37,585.0,81.0,0.99,0.0,0.0,77.0,...,1,30,No,Suburban,Other,No,Good,young,No,0
3,3001454,Oregon,Pacific,95.00,1592.0,75.0,10.89,7.0,0.0,210.0,...,3,130,No,Other,Other,Unknown,Medium,middle,No,0
4,3002070,Oregon,Pacific,84.36,1269.0,75.0,1.98,0.0,5.8,-104.0,...,0,30,No,Other,Other,Yes,Highest,middle,No,0

### Visualized Objects
##### Visualizing the objects will give the ability to see if there are attributes where customers that churn are greater than those that didnt. Being that the those that Churn is xxx and those that did not Churn are xxxx, we will most frequently see that attributes have customers that didnt churn that is greater than those that did.

In [147]:
#Looking at count of unique values to determine which to make categories
obj = df2.describe(include = 'O') #Reordered Columns and updated split
obj_list = obj.columns

churn = df2.loc[df2['Churn'] == 1]
not_churn = df2.loc[df2['Churn'] == 0]

In [148]:
df['Churn'] =df.Churn.replace({'Yes': 1, 'No': 0}, inplace = True)
df.isnull().sum()
df['HandsetModels']=df['HandsetModels'].astype('object')
df.HandsetModels.value_counts()
df.head(2)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49752 entries, 0 to 51022
Data columns (total 63 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 49752 non-null  int64
 1   AreaCode                   49752 non-null  object
 2   State                      49752 non-null  object
 3   Region                     49752 non-null  object
 4   MonthlyRevenue             49752 non-null  float64
 5   MonthlyMinutes             49752 non-null  float64
 6   TotalRecurringCharge       49752 non-null  float64
 7   DirectorAssistedCalls      49752 non-null  float64
 8   OverageMinutes             49752 non-null  float64
 9   RoamingCalls               49752 non-null  float64
 10  PercChangeMinutes          49752 non-null  float64
 11  PercChangeRevenues         49752 non-null  float64
 12  DroppedCalls               49752 non-null  float64
 13  BlockedCalls               49752 non-null  float64
 14  UnansweredCalls            49752 non-null  float64
 15  CustomerCareCalls          49752 non-null  float64
 16  ThreewayCalls              49752 non-null  float64
 17  ReceivedCalls              49752 non-null  float64
 18  OutboundCalls              49752 non-null  float64
 19  InboundCalls               49752 non-null  float64
 20  PeakCallsInOut             49752 non-null  float64
 21  OffPeakCallsInOut          49752 non-null  float64
 22  DroppedBlockedCalls        49752 non-null  float64
 23  CallForwardingCalls        49752 non-null  float64
 24  CallWaitingCalls           49752 non-null  float64
 25  MonthsInService            49752 non-null  int64
 26  UniqueSubs                 49752 non-null  int64
 27  ActiveSubs                 49752 non-null  int64
 28  Handsets                   49752 non-null  float64
 29  HandsetModels              49752 non-null  object
 30  CurrentEquipmentDays       49752 non-null  float64
 31  AgeHH1                     49752 non-null  float64
 32  AgeHH2                     49752 non-null  float64
 33  ChildrenInHH               49752 non-null  object
 34  HandsetRefurbished         49752 non-null  object
 35  HandsetWebCapable          49752 non-null  object
 36  TruckOwner                 49752 non-null  object
 37  RVOwner                    49752 non-null  object
 38  Homeownership              49752 non-null  object
 39  BuysViaMailOrder           49752 non-null  object
 40  RespondsToMailOffers       49752 non-null  object
 41  OptOutMailings             49752 non-null  object
 42  NonUSTravel                49752 non-null  object
 43  OwnsComputer               49752 non-null  object
 44  HasCreditCard              49752 non-null  object
 45  RetentionCalls             49752 non-null  int64
 46  RetentionOffersAccepted    49752 non-null  int64
 47  NewCellphoneUser           49752 non-null  object
 48  NotNewCellphoneUser        49752 non-null  object
 49  ReferralsMadeBySubscriber  49752 non-null  int64
 50  IncomeGroup                49752 non-null  int64
 51  OwnsMotorcycle             49752 non-null  object
 52  AdjustmentsToCreditRating  49752 non-null  int64
 53  HandsetPrice               49752 non-null  object
 54  MadeCallToRetentionTeam    49752 non-null  object
 55  CreditRating               49752 non-null  object
 56  PrizmCode                  49752 non-null  object
 57  Occupation                 49752 non-null  object
 58  MaritalStatus              49752 non-null  object
 59  Churn                      0 non-null      object
 60  Churn1                     49752 non-null  int64
 61  CreditRating_num           49752 non-null  object
 62  CreditRating_split         49752 non-null  object
dtypes: float64(25), int64(10), object(28)
memory usage: 24.3+ MB

In [149]:
#Age > Age Bins
df['AgeGroupHH1']=pd.cut(df.AgeHH1, bins = [16,40,65,105],labels=['young','middle','senior'])
df['AgeGroupHH2']=pd.cut(df.AgeHH2, bins = [16,40,65,105],labels=['young','middle','senior']) 
reorder3 =['CustomerID','State','Region', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs','Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'PrizmCode', 'Occupation',
       'MaritalStatus','CreditRating_split','AgeGroupHH1', 'AgeGroupHH2', 'Churn']



df=df[reorder3]
df.describe(include='all')
df.head()

,CustomerID,State,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,...,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,PrizmCode,Occupation,MaritalStatus,CreditRating_split,AgeGroupHH1,AgeGroupHH2,Churn
0,3000002,Oregon,Pacific,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,...,0,30,Yes,Suburban,Professional,No,Highest,middle,NaN,None
1,3000982,Oregon,Pacific,53.69,144.0,50.0,0.00,0.0,0.0,72.0,...,0,130,No,Suburban,Other,Unknown,Highest,young,young,None
2,3001426,Oregon,Pacific,74.37,585.0,81.0,0.99,0.0,0.0,77.0,...,1,30,No,Suburban,Other,No,Good,young,middle,None
3,3001454,Oregon,Pacific,95.00,1592.0,75.0,10.89,7.0,0.0,210.0,...,3,130,No,Other,Other,Unknown,Medium,middle,middle,None
4,3002070,Oregon,Pacific,84.36,1269.0,75.0,1.98,0.0,5.8,-104.0,...,0,30,No,Other,Other,Yes,Highest,middle,middle,None

In [80]:
#dummy filt takes out state and customer id
dummy_filt = ['CustomerID','Region', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs','Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'PrizmCode', 'Occupation',
       'MaritalStatus','CreditRating_split','AgeGroupHH1', 'AgeGroupHH2', 'Churn']
dummy_df = pd.get_dummies(df[dummy_filt])
dummy_df.sample(5)

,CustomerID,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,...,AgeGroupHH1_20-29,AgeGroupHH1_30-39,AgeGroupHH1_40-49,AgeGroupHH1_50-59,AgeGroupHH1_60+,AgeGroupHH2_20-29,AgeGroupHH2_30-39,AgeGroupHH2_40-49,AgeGroupHH2_50-59,AgeGroupHH2_60+
201448,3348226,56.88,1352.0,60.0,2.23,13.0,0.2,-298.0,-0.4,28.3,...,0,0,1,0,0,0,1,0,0,0
70499,3108762,49.35,699.0,45.0,0.99,29.0,0.0,-160.0,-9.4,4.7,...,0,0,1,0,0,0,1,0,0,0
90621,3368118,94.99,234.0,105.0,0.00,0.0,0.0,62.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
277588,3128206,47.07,785.0,45.0,0.25,0.0,0.3,-127.0,-9.8,31.0,...,0,0,0,1,0,0,0,0,1,0
573514,3130858,30.00,172.0,30.0,0.00,0.0,0.0,62.0,0.0,0.3,...,0,0,0,1,0,0,0,0,0,1