In [2]:
import pandas as pd

In [17]:
areacode= pd.read_csv('areacode.csv')
extended= pd.read_csv('full_df.csv')
to_tableau= pd.read_csv('regression_df.csv')
to_tableau.head()

,Unnamed: 0,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,PrizmCode,Occupation,MaritalStatus,CreditRating_split,AgeGroupHH1,Churn1
0,0,Pacific,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,No,0,30,Yes,Suburban,Professional,No,Highest,middle,1
1,1,Pacific,53.69,144.0,50.0,0.00,0.0,0.0,72.0,-0.4,...,No,0,130,No,Suburban,Other,Unknown,Highest,young,0
2,2,Pacific,74.37,585.0,81.0,0.99,0.0,0.0,77.0,-34.8,...,No,1,30,No,Suburban,Other,No,Good,young,0
3,3,Pacific,95.00,1592.0,75.0,10.89,7.0,0.0,210.0,-0.3,...,No,3,130,No,Other,Other,Unknown,Medium,middle,0
4,4,Pacific,84.36,1269.0,75.0,1.98,0.0,5.8,-104.0,-3.2,...,No,0,30,No,Other,Other,Yes,Highest,middle,0

In [6]:
areacode.head(2)

,Unnamed: 0,CustomerID,AreaCode,State,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,...,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus,Churn
0,0,3000002,503,Oregon,Pacific,24.00,219.0,22.0,0.25,0.0,...,4,No,0,30,Yes,1-Highest,Suburban,Professional,No,Yes
1,1,3000982,503,Oregon,Pacific,53.69,144.0,50.0,0.00,0.0,...,5,No,0,130,No,1-Highest,Suburban,Other,Unknown,No

In [9]:
extended.head(2)

,Unnamed: 0,CustomerID,State,Region,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,...,AgeGroupHH1,Dropped_cat,Monthly_Charge_cat,CareCalls_cat,OffpeakCalls_cat,TotalCalls_cat,Referrals_bin,RetentionCalls_cat,Churn,Churn1
0,0,3000002,Oregon,Pacific,24.00,219.0,22.0,0.25,0.0,0.0,...,middle,low,low,low,moderate,low,None,None,Yes,1
1,1,3000982,Oregon,Pacific,53.69,144.0,50.0,0.00,0.0,0.0,...,young,low,high,low,moderate,moderate,None,None,No,0

In [28]:
to_tableau.head(2)
to_tableau['AreaCode']= areacode['AreaCode']
to_tableau['Churn_yn']= extended['Churn']
to_tableau['State']= areacode['State']
to_tableau['CustomerID']= extended['CustomerID']
Reorder= ['CustomerID','AreaCode', 'State','Region', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'ChildrenInHH', 'HandsetRefurbished',
       'HandsetWebCapable', 'TruckOwner', 'RVOwner', 'Homeownership',
       'BuysViaMailOrder', 'RespondsToMailOffers', 'OptOutMailings',
       'NonUSTravel', 'OwnsComputer', 'HasCreditCard', 'RetentionCalls',
       'RetentionOffersAccepted', 'NewCellphoneUser', 'NotNewCellphoneUser',
       'ReferralsMadeBySubscriber', 'IncomeGroup', 'OwnsMotorcycle',
       'AdjustmentsToCreditRating', 'HandsetPrice', 'MadeCallToRetentionTeam',
       'PrizmCode', 'Occupation', 'MaritalStatus', 'CreditRating_split',
       'AgeGroupHH1', 'Churn1', 'Churn_yn', ]

to_tableau= to_tableau[Reorder]
to_tableau.to_csv('tableau.csv')